.pokemon {
  width: 150px;
  margin: 10px;
  background-color: rgb(220, 236, 248);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid black;
  border-radius: 5%;
}

.pokemon__name {
  display: inline-block;
  width: 100%;
  text-transform: capitalize;
  border-top: 1px solid black;
}

.pokemon__image {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
}

.pokemon__types {
  width: 100%;
  display: flex;
  border-top: 1px solid black;
}

.pokemon__types__type {
  background-color: grey;
  color: white;
  padding: 5px;
  border-radius: 15%;
  margin: 10px 5px 10px 10px;
  text-transform: uppercase;
  font-size: 10px;
}